* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
}

h1 {
    text-transform: uppercase;
    font-family: Inconsolata, sans-serif ;
    font-weight: bold;
    font-size: 24px;
    letter-spacing: -0.08em;
    color: #333333;
    padding: 40px 77px;
}

.main {
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 40px 200px 20px 77px;
}

.message {
    font-family: Space Mono,sans-serif;
    font-style: normal;
    letter-spacing: -0.035em;
}

.message h2 {
    font-size: 64px;
    font-weight: 700;
    line-height: 95px;
    color: #333333;
}

.message p {
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    color: #4F4F4F;
    margin: 40px 80px 90px 0;
    padding: 0 200px 0 0;
}

.message button {
    width: 216px;
    height: 68px;
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: #333333;
    cursor: pointer;
}

.footer {
    display: flex;
    justify-content: center;
    margin: 60px 0 0 0;
    font-family: Montserrat,sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #BDBDBD;
}

